*{
    font-family: 'cwTeXYen';
    font-weight: 700;
}
.background{
background-color: #E4F0B3;
position: absolute;
top: 0px;
left: 0px;
width: 1194px;
height: 834px;
}

.tittle{
    color: white;
    font-size: 52px;
    position: absolute;
    top: 26px;
    left: 150px;
}

.lastPage{
    position: absolute;
    left: 27px;
    top: 74px;    
}
.home{
    position: absolute;
    left: 1068px;
    top: 74px;    
}
.box{
    position: absolute;
    left: 23px;
    top: 220px;
}

.downtittle{
    color: rgb(255, 255, 255);
    font-size: 45px;
    position: absolute;
    top: 670px;
    left: 490px;
    letter-spacing: 1px;
}
.teeth{
    position: absolute;
    left: 135px;
    top: 422px;    
}
.othersteeth{
    position: absolute;
    left: 135px;
    top: 240px; 
}
.inputtittle{
    color: #B1C26F;
    font-size: 45px;
    position: absolute;
    top: 230px;
    left: 580px;
    letter-spacing: 1px;
}
.inputtext{
    color: #808080;
    font-size: 28px;
    position: absolute;
    top: 320px;
    left: 580px;
    letter-spacing: 1px;
    width: 450px;
    line-height: 40px;
}
